@media screen and (min-width:320px)
{.container {max-width: 428px;}
/* ---------strategy------ */
.strategy-item {width: 100%;}
.strategy-icon {display: none;}
.strategy-list{flex-wrap: wrap;
gap:72px;
padding: 96px 0;}
.strategy-page{
    width: 100%;
}
.strategy-page-item{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
}

@media screen and (min-width:429px) {
    .container {
    max-width:768px;
    }
    /* .strategy {
    padding: 96px 0;
        } */
    .strategy-item {
    width: 100%;
    }
    .strategy-icon {
    display: none;
        }
    .strategy-list {
   display: flex;
    flex-wrap: wrap;
    gap: 24px;
   
    }
    .strategy-page{
    max-width: calc((100% - 24px) / 2);
    
    }
        
    .strategy-page-item{
        display: inline;
        letter-spacing: 0.01em;
    }
}

@media screen and (min-width:769px) {
    .container {
        max-width: 1158px;
    }
    .strategy-icon{
        display: flex;
    }
        .strategy-page {
        width: calc((100% - 72px) / 4);
        }
    .strategy-page-item {
    color: var(--primary-black-color);
     font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    }
    .strategy-page-description {
    color: var(--secondary-black-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
}