@media (min-width: 320px) and (max-width:1157px) {
    .doing {
        display: none;
    }
}

@media (min-width: 320px) {
.container {
max-width: 419px;
}
.tel{
    font-size: 24px;
}
.mob-box-icon {
    gap:30px;
}
.footer-subscribe{
    width: 290px;
}
.modal-window{
    width: 320px;
}
}


@media (min-width: 420px) {
.container {
 max-width: 767px;
}
.tel {
font-size: 36px;
}
.mob-box-icon{
    gap: 56px;
}
.footer-subscribe {
    width: 398px;
}
.modal-window{
width: 392px;
min-height: 584px;
}
}


@media  (min-width: 320px) and (max-width: 767px){
.container{ 
max-width: 767px;}

/* =======header======= */
.header-menu{
height: 100%;
}
.div-header-menu{
padding: 24px 16px;
justify-content: space-between;
}
.header-list{
display: none;
}
.address{
display: none;
}
.menu-open-btn{
border: none;
color:inherit;
padding: 0;
background-color:inherit;
}
.mobil-menu{
stroke: black;
background-color:  #F4F4FD;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =================
   mob menu 
================= */
.mob-menu-box{

 flex-grow: 1;
}
.mob-menu {
display: flex;
flex-direction: column;
background: var(--basic-white-color);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 24px 24px 40px 40px;
z-index: 2;
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.menu-close-btn {
display: block;
margin-left: auto;
border: none;
padding: 0;
color: inherit;
background-color: inherit;
}


.cross-menu {}

.mobil-menu-list {
display: flex;
flex-direction: column;
gap: 40px;
margin-bottom: 50px;
}
.mobil-menu-item{
height: 40px;
}

.mobil-menu-link{
font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-black-color);
}


.mob-address-list {
display: flex;
flex-direction: column;
margin-bottom: 48px;
}

.mob-address-contacts {
    height: 100%;
}

.mail {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-black-color);
}

.tel{
font-style: normal;
font-weight: 700;
line-height: 2.5;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--basic-color-logo);

}


.mob-box-icon {
display: flex;
/* gap: 56px; */
justify-content: center;

}

.mob-social-icon {
width: 40px;
height: 40px;
background-color: var(--basic-color-logo);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
flex-shrink: 0;
    
}



.mob-social-icon-svg {
    fill: #F4F4FD;
}
.current::after {
    content: "";
    color: var(--hover-color);
}

.current {
    color: var(--hover-color);
}



/* =====bussiness======= */
.business{
padding: 112px 0;
background: var(--primary-black-color);
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/people-office-mob.jpg);
max-width: 767px;
background-size: cover;}

@media (min-devise-pixil-ratio: 2) , 
(min-resolution: 192dpi ){
.business{
background: var(--primary-black-color);
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/people-office-mob-2x.jpg);
max-width: 767px;
background-size: cover;}}



.business-contant{
    
}

.business-logo{
font-size: 36px;
letter-spacing: 0.01em;
line-height: 1.1;
max-width: 320px;
}
.business-button{
margin-top:72px ;
}


    /* ====strategy==== */
.strategy{
    padding: 96px 0;}
    .strategy-item{
    display: flex;
    align-items: center;
    justify-content: center;
    }

.strategy-icon{
display: none;}

.strategy-list{
display: flex;
flex-wrap: wrap;
gap: 72px;
max-width: 356px;
}
.strategy-page{
width: 100%;}

.strategy-page-item{
font-size: 36px;
line-height: 1.11;
display: flex;
justify-content: center;
}
/* ====doing==== */

/* ======our team==== */
.team{
padding: 96px 0px;
}
.team-list{
flex-wrap: wrap;
gap: 72px;
justify-content: center;
align-items: center;
}
.team-images{
width: 100%;
max-width: 264px;
}
.team-box-icon{
padding: 0 15px;
}
/* =======customer======= */
.customers{
padding-top: 96px;
padding-bottom: 96px;
}
.customer-list{
flex-wrap: wrap;
gap: 16px;
row-gap: 72px;
justify-content: center;
}
.customer-icon{
width: calc((100% - 16px) / 2);
max-width: 190px;
}
/* =====footer===== */
.footer{
padding: 96px 0;
 display: flex;
}
.footer-box{
flex-direction: column;
margin: 0 auto;
align-items: center;
display: flex;
justify-content: center;}

.footer-logo{
display: flex;
justify-content: center;}

.footer-text{
margin: auto;
}
.footer-social{
margin: 0 auto;
}
.social-name{
display: flex;
justify-content: center;
margin-top: 72px;
}
.social-list{
justify-content: center;
margin-bottom: 72px;
}

.footer-subscribe {
display: flex;
flex-direction: column;
/* width: 398px; */
}
.footer-subscribe-phf{
justify-content: center;
display: inline-flex;
}
.footer-subscribe-form{
flex-direction: column;
gap: 16px;
}
.footer-subscribe-button{
width: 38%;
margin: 0 auto;
}
/* =====modal====== */
.modal-window{
/* width: 392px;
min-height: 584px; */
padding: 24px 16px;
}
.modal-text{
    margin-top: 36px;
}

}



 /* @media (min-width: 768px) {
.container {
max-width: 1157px;
}

.team-list {
flex-wrap: wrap;
gap: 24px;
row-gap: 64px;
justify-content: center;
}
 } */


 
       






@media  (min-width: 768px){
.container {
max-width: 768px;
padding-top: 24px;}
/* =======header======= */
.mob-menu{
    display: none;
}
.button-mobil-menu {
display: none;}

.header-menu{
padding: 24px 0;
}
.div-header-menu{
    padding: 0 15px;
}
.address {
display: flex;
flex-direction: column;
gap:12px;
}
.address-contacts{
    font-size: 12px;
    line-height: 1.16;
        
}
.menu-open-btn{
display: none;
}

/* =====bussiness======= */
.business {
    padding: 112px 0;
    background: var(--primary-black-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office-tab.jpg);
    max-width: 1157px;
    background-size: cover;
}
@media (min-devise-pixil-ratio: 2),
(min-resolution: 192dpi) {
.business {
background: var(--primary-black-color);
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/people-office-tab-2x.jpg);
max-width: 1157px;
    }}

.business-button{
 margin-top: 36px;
}
.business-logo{
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
}



/* ====strategy==== */
.strategy{
padding: 96px 0;}

.strategy-list{
display: flex;
flex-wrap: wrap;
gap: 24px;
row-gap: 72px;
justify-content: center;
}
.strategy-page{
max-width: calc((100% - 24px) / 2);
max-width: 356px;
}

.strategy-page-item{
    display: inline-block;
    font-size: 36px;
    line-height: 1.11;
}
.strategy-icon{
display: none;
}
/* ====doing==== */

/* ======our team==== */
.our-team{
    padding: 0;
    max-width: 768px;
}
.team {
padding: 96px 0;
background: var(--cloud, #F4F4FD);

}
.team-team {
margin: 0 auto;
margin-bottom: 72px;
}
.team-list{
display: flex;
flex-wrap: wrap;
gap: 24px;
justify-content: center;
}

.team-box-icon{
padding: 0 15px;
}
.team-images {
width: calc((100% - 24px) / 2);
max-width: 264px;
}

/* =======customer======= */
.customers-box {
    max-width: 584px;
    padding-top: 0;
}
.customers {
padding: 96px 0;
}
.customer-list {
flex-wrap: wrap;
gap: 24px;
row-gap: 72px;
}

.customer-icon {
width: calc((100% - 48px) / 3);
}
/* =====footer===== */
.footer-box{
padding: 96px 0;
width: 100%;
max-width: 554px;
}
.footer-box-mini{
display: flex;
margin-bottom: 72px;
}
.footer-box-logo{
margin-right: 24px;
}
.social-name{
margin-top: 0;
}
.footer-subscribe{

}
.footer-subscribe-phf {
display: flex;
justify-content: flex-start;
}
.footer-subscribe-form{
display: flex;
flex-direction: row;
gap: 24px;
}
.footer-subscribe-lable{
    min-width: 264px;
}
.footer-subscribe-button{
    min-width: 165px;
} }


    





 @media screen and (min-width: 1158px) {
.container {
max-width: 1158px;
}
/* =======header======= */
.menu-open-btn{
    display: none;
}
.header{
max-height: 72px;
}

.div-header-menu{
padding:0 15px;
}
.header-menu{

padding: 24px 0;}
.address{
display: flex;
flex-direction: row;
gap: 40px;
}
.address-contacts{
font-size: 16px;
}


/* =====bussiness======= */
.business{
padding: 188px 0;
background: var(--primary-black-color);
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/people-office.jpg);
max-width: 1440px;
background-size: cover;
}
@media (min-devise-pixil-ratio: 2),
(min-resolution: 192dpi) {
.business {
background: var(--primary-black-color);
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/people-office-2x.jpg);
max-width: 1440px;}
}
.business-logo{
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
}
.business-button{
margin-top: 48px;
}



/* ====strategy==== */
.strategy {
 padding: 120px 0;
}
.strategy-item {
    padding: 0 15px;

  }
.strategy-icon {
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: var(--secondary-white-color);
border-radius: 4px;
margin-bottom: 8px;
}
.strategy-list {
display: flex;
gap: 24px;
}
.strategy-page {
width: calc((100% - 72px) / 4);
max-width: 264px;
}
.strategy-page-item{
font-size: 20px;
line-height: 1.2;
}
/* ====doing==== */
.what-are-we-doing {
padding-top: 0;
}
.doing-list{
justify-content: center;
}

.doing-images{
    max-width: 360px;
    max-height: 300px;
}

/* ======our team==== */
.team {
    background-color: var(--secondary-white-color);
    padding: 120px 0;
    border: none;
    box-shadow: none;
    }
    .our-team{
    padding: 0 15px;
    }
.team-images{
flex-basis: calc((100% - 72px) / 4);
max-width: 264px;
}
.team-team{
    margin-bottom: 72px;
}
.team-list{
gap: 24px;
}
/* =======customer======= */
.customers {
padding-top: 120px;
padding-bottom: 120px;
}
.customer-list{
gap: 24px;
justify-content: center;
}
.customer-icon{
width: calc((100% - 120px) / 6);
max-width: 168px;
}
/* =====footer===== */
.footer {
background: var(--primary-black-color);
padding: 100px 0;
}
.footer-box {
/* padding: 100px 0; */
padding: 0;
align-items:center;
display: flex;
flex-wrap: nowrap;
}
.social-list {
display: flex;
gap: 16px;
}
.footer-box-mini{
   
   display: flex;
   margin-bottom: 0;
}
.footer-box-logo {
margin-right: 120px;
        }
.footer-social {
 margin-right: 80px;
}
.footer-subscribe{
   
    margin-bottom: 16px;
}
}
    
